/MTMS/MTMS.pro.user
/MTMS_Client-build-desktop
/MTMS_Client/resource/images/Thumbs.db
*.user
.DS_Store


/MTMS_Server-build-desktop/

/MTMS_Server/MTMS_Server.pro.user
/MTMS_Server/resourses/images/Thumbs.db
/Algorithm_Experiments/template